body {
  margin: 0;
}

.closed {
  display: none;
}

#board {
  display: flex;
  flex-wrap: wrap;
}

.odd {
  background-color: black;
}

.even {
  background-color: blue;
}

.around {
  border-radius: 15px;
}

.top {
  border-radius: 15px 15px 0 0;
}

.bottom {
  border-radius: 0 0 15px 15px;
}

.left {
  border-radius: 15px 0 0 15px;
}

.right {
  border-radius: 0 15px 15px 0;
}

.top.left {
  border-radius: 15px 0 0 0;
}

.top.right {
  border-radius: 0 15px 0 0;
}

.bottom.left {
  border-radius: 0 0 0 15px;
}

.bottom.right {
  border-radius: 0 0 15px 0;
}

.token {
  background-image: url(./assets/images/tokens/empty-token.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fox-token { background-image: url(./assets/images/tokens/fox-token.png); }

.falco-token { background-image: url(./assets/images/tokens/falco-token.png); }

.slippy-token { background-image: url(./assets/images/tokens/slippy-token.png); }

.krystal-token { background-image: url(./assets/images/tokens/krystal-token.png); }

.andross-token { background-image: url(./assets/images/tokens/andross-token.png); }

.peppy-token { background-image: url(./assets/images/tokens/peppy-token.png); }

.highlighted-slot { background-image: url(./assets/images/tokens/highlighted-slot.png); }
