body {
  margin: 0;
}

.col {
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  width: 95%;
  margin: auto;
}

.settings-group {
  display: block;
}

.setting {
  width: 35px;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

/* new tokens must also be added to main script  */
.token {
  height: 20%;
  width: 20%;
}

.empty,
.fox-token,
.falco-token,
.slippy-token,
.krystal-token,
.andross-token,
.peppy-token {
  box-sizing: border-box;
  background-color: cyan;
  border: 2px solid black;
}

.fox-token {
  background-color: red;
}

.falco-token {
  background-color: blue;
}

.slippy-token {
  background-color: green;
}

.krystal-token {
  background-color: purple;
}

.andross-token {
  background-color: yellow;
}

.peppy-token {
  background-color: orange;
}

.hidden {
  display: none;
}
