@import url(./reset.css);

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

button {
  width: 50%;
  max-width: 300px;
  margin: 3px 0;
  padding: 5px 0;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
  background-color: #333333;
  font-size: 12pt;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  background-color: #111111cc;
  padding: 10px;

}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.row {
  height: 100%;
  margin: 0;
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

.settings-group {
  display: block;
  width: 75%;
  max-width: 300px;
  margin: 3px auto;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #666666cc;
  font-weight: bold;
}

.setting {
  width: 35px;
}

.modal {
  z-index: 3;
  position: fixed;
  color: white;
  background-color: #00000077;
  box-shadow: inset 0 0 100px #000000;
}

.close {
  position: absolute;
  top: -1px;
  right: 10px;
  height: initial;
  width: initial;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 18pt;
}

.popup {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: initial;
}

.popup-message {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px 5px;
  padding-right: 25px;
  border-radius: 15px;
  border: 3px solid white;
  color: black;
  background-color: #eeb54b;
  text-align: justify;
  -webkit-text-stroke: 0.5pt gray;
}

.popup-message span {
  font-size: 32pt;
}

.win-message {
  padding: 30px;
  border: 1px solid #ffffff55;
  border-radius: 5px;
  background-color: #000000dd;
  font-weight: bold;
}

.win-buttons {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.restart,
.reset {
  margin: 3px auto;
}

.player {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-basis: calc(100%/3);
  max-width: 100px;
  text-align: center;
}

.name {
  width: 100%;
  padding: 5px 0;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: #00000066;
  font-weight: bold;
}

.player .ui-token {
  width: 50%;
}

.score,
.timer {
  box-sizing: border-box;
  width: 50%;
  margin: 5px 0;
  font-size: 6vh;
  padding: 3px 1%;
  color: white;
  background-color: #00000066;
}

#gameBoard {
  display: flex;
  flex-wrap: wrap;
}

#selectTokens {
  justify-content: space-evenly;
}

.select span {
  padding: 10px;
  background-color: #000000bb;
}

.background {
  background-image: url(../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -50px 50px -50px #ffffff,
              inset 0 0 1000px 1000px #00000088;
}

/* new tokens must also be added to main script  */
#token ,
.timer{
  width: 50%;
  text-align: center;
}

.ui-token {
  height: 13.5vh;
  width: 13.5vh;
}

.player .ui-token {
  height: 5vh;
  width: 5vh;
}

.odd {
  background-color: #555555bb;
}

.even {
  background-color: #333333bb;
}

.top {
  border-radius: 0 0 10px 10px;
}

.left {
  border-radius: 10px 0 0 10px;
}

.bottom {
  border-radius: 10px 10px 0 0;
}

.right {
  border-radius: 0 10px 10px 0;
}

.top-left {
  border-top-left-radius: 10px;
}

.top-right {
  border-top-right-radius: 10px;
}

.bottom-left {
  border-bottom-left-radius: 10px;
}

.bottom-right {
  border-bottom-right-radius: 10px;
}

.empty,
.fox-token,
.falco-token,
.slippy-token,
.krystal-token,
.andross-token,
.peppy-token {
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.empty {
  background-image: url(../../assets/images/tokens/empty-token.png);
}

.fox-token {
  background-image: url(../../assets/images/tokens/fox-token.png);
}

.falco-token {
  background-image: url(../../assets/images/tokens/falco-token.png);
}

.slippy-token {
  background-image: url(../../assets/images/tokens/slippy-token.png);
}

.krystal-token {
  background-image: url(../../assets/images/tokens/krystal-token.png);
}

.andross-token {
  background-image: url(../../assets/images/tokens/andross-token.png);
}

.peppy-token {
  background-image: url(../../assets/images/tokens/peppy-token.png);
}

.highlight {
  z-index: 1;
  box-shadow: 0 0 40px 35px white;
  background-color: white;
}

@media only screen and (min-width: 1000px) {

}

.hidden {
  display: none;
}
